# Ignore the .vscode directory
.vscode/

# Ignore the .namlVenv virtual environment directory
*venv*

# py cache
__pycache__

# results.csv
results.csv

# egg-info
CompSensePack.egg-info

# ignore any build
build/
docs/build/